/*FAQ Container CSS*/

#FAQbutton{
    color: white;
    background-color: #223F89; 
}

/* Top 4 Buttons */
.top4buttons{
    text-decoration: none;
    color: #223F89;
    font-size: 20px;
    margin: 30px 40px 0 40px;
    padding: 5px;
    transition: 0.3s;
}

.top4buttons:hover {
    text-decoration: none;
    color: white;
    background-color: #223F89;
    transition: 0.3s;
}

.top4buttons:active{
    color: white;
    transition: 0.3s;
    background-color: #223F89; 
}

.FAQContainer{
    height: 72%;
    box-sizing: border-box;
    padding: 0 210px 0 210px;
    margin-top: 30px;
}

.FAQHeaders{
    font-size: 40px;
    color:  #223F89;
    margin: 10px 0 10px 0;
}

.collapsible {
    background-color: rgba(34, 63, 137, 0.9);
    cursor: pointer;
    padding: 18px;
    width: 3%;
    border: none;
    outline: none;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    transition: 0.4s;
  }
  
  .active, .collapsible:hover {
    background-color: rgb(25, 48, 105, 1);
    transform: scale(0.85);
    border-radius: 18px;
    transition: 0.5s;
  }

.hiddencontent{
    width: 60%;
    box-sizing: border-box;
    padding: 0 10px;
    display: none;
    overflow: hidden;
    background-color: white;
    margin: 0 0 10px 4%;
}

.FAQButtonsFlex{
    display: flex;
    flex-direction: column; 
}

.perFAQflex{
    display: flex;
    flex-direction: row; 
}

.FAQQuestions{
    padding: 18px 0 0 15px;
    color: #1841AA;
    box-sizing: border-box;
}

.bottom-copyright{
    width: 100%;
    height: 20%;
    background-color: #EBE7E7;
    color: #898787;
    text-align: center;
    box-sizing: border-box;
    font-size: 10px;
    margin-top: 20px;
    padding-top: 45px;
}


/* the Triangle Buttons naman*/

.triangle-down{
    width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 60px solid rgb(37, 68, 148);
    position: fixed;
    bottom: 20px;
    right: 30px;
    transition: 0.2s;
}

.triangle-down:hover {
    transform: scale(0.9);
    transition: 0.3s;
    border-bottom: rgba(34,63,137, 1);
}


.triangle-up{
    width: 0;
	height: 0;
    border-bottom: 60px solid rgb(37, 68, 148);
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
    position: fixed;
    bottom: 90px;
    right: 30px;
    transition: 0.2s;
}

.triangle-up:hover {
    transform: scale(0.9);
    transition: 0.3s;
    border-top: rgba(34,63,137, 1);
}
