/*Enlistment Container CSS*/
.EnlistmentContainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 0 210px 0 210px;
    position: relative;
}

/* Grey Header */
.portaltextheader {
    text-align: left;
    color: rgb(34, 63, 137);
    font-size: 20px;
}

.content {
    padding-left: 15px;
    color: rgb(34, 63, 137);
    font-size: 14px;
    font-weight: 500px;
    margin: 5px;
}

.top-enlistment-header {
    width: 100%;
    background-color: #EBE7E7;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 15px 0 20px 0;
    padding: 10px 20px 10px 20px;
}

/* The Actual Enlistment Table */
.enlistablediv{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;    
}

.tablecontentsdiv{
    display: flex;
    overflow-y: auto;
}

table {
    border-collapse:collapse;
    width: 90%;
    align-self: center;
    border-spacing: 1px 2px;
    color: black;
  }

th {
    border: 2px solid white;
    text-align: center;
    padding: 8px;
    font-size: 14px;
    background-color: #bdd7ee;
}  

td {
    border: 2px solid white;
    text-align: center;
    padding: 3px;
    font-size: 12px;
    background-color: #f3f3f3;
}

.enlist-button{
    background-color: #223F89;
    width: 90%;
    color: white;
}

.enlist-button:active{
    background-color: #2C52B1;
    transform: scale(0.95);
    transition: 0.15s;
}

.delist-button{
    background-color: #590925;
    width: 90%;
    color: white;
}

.delist-button:active{
    background-color: #760C31;
    transform: scale(0.95);
    transition: 0.15s;
}

/*Back to Portal Button*/
.back2portalbutton {
    text-decoration: none;
    width: 115px;
    color: #223F89;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    padding: 2px;
    transition: 0.1s;
}

.back2portalbutton:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.back2portalbutton:active {
    background-color: #223F89;
    color: white;
}

/* Bottom Grey Copyright */
.bottom-copyright{
    width: 1100px;
    height: 100px;
    background-color: #EBE7E7;
    color: #898787;
    text-align: center;
    box-sizing: border-box;
    font-size: 10px;
    margin-top: 10px;
    padding-top: 45px;
    align-self: center;
}

/* Syllabus Stuff bec im too lazy to make a new CSS */
.syllabus-button{
    background-color: #223F89;
    width: 90%;
    color: white;
}

.syllabus-button:active{
    background-color: #2C52B1;
    transform: scale(0.95);
    transition: 0.15s;
}

/* the Triangle Buttons naman*/

.triangle-down{
    width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 60px solid rgb(37, 68, 148);
    position: fixed;
    bottom: 20px;
    right: 30px;
    transition: 0.2s;
}

.triangle-down:hover {
    transform: scale(0.9);
    transition: 0.3s;
    border-bottom: rgba(34,63,137, 1);
}


.triangle-up{
    width: 0;
	height: 0;
    border-bottom: 60px solid rgb(37, 68, 148);
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
    position: fixed;
    bottom: 90px;
    right: 30px;
    transition: 0.2s;
}

.triangle-up:hover {
    transform: scale(0.9);
    transition: 0.3s;
    border-top: rgba(34,63,137, 1);
}