.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    margin-top: 70px;
    padding: 0;
    border: 1px solid #000;
    width: 40%;
    /* height: 55%; */
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 25px 0 0 0;
    background-color: #223F89;
}

.modal-body {
    display: flex;
    flex-direction: column;
    padding: 2px 16px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/*Everything in the Modal Body*/
#admulogologin {
    width: 40px;
    height: 40px;
    margin: 5px 0 3px 0;
}

#aisislogologin {
    width: 230px;
    height: 50px; 
    margin: 0 0 0 8px;
}

.LoginInput{
    border-color: #223F89;
    background-color: #EBE7E7;
    height: 30px;
    margin: 20px 140px 10px 140px;
    padding: 0px 15px;

}

.LoginTitles{
    color: #223F89;
    align-self: center;
    margin-left: 230px;
    
}

.LoginModalButtons{
    background-color: #223F89;
    color: white;
    font-size: 16px;
    padding: 2px 15px 2px 15px;
    border-radius: 5px;
    
}

.LoginModalButtons:active{
    background-color: #2C52B1;
    transform: scale(0.95);
    transition: 0.3s;
}

#LoginButton{
    align-self: center;
    padding: 2px 40px 2px 40px;
}

#InvalidPassword{
    color: red;
    font-style: italic;
    font-size: 12px;
    align-self: center;
    padding: 10px;
    margin-top: 10px;
}

#RedAsterisk{
    color: red;
    position: absolute;
    align-self: flex-end;
    margin: 95px 115px 0 0;
    font-size: 36px;
    
}

.forgotinfobody{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #223F89;
}

#forgotinfotext{
    margin-top: 13px;
}

#RequestResetButton{
    margin: 10px;
}