{% extends 'MainHeaderTemplate.html' %}

{% block specific_css %}
<link rel="stylesheet" href="../static/css/Announcementstyles.css">
{% endblock %}

{% block body %}
<div class="AnnounceContainer">

    <!-- Announcements Body -->
    {% for announcement in announcements %}
    <div class="card">
    	<div class="cardlines">
            <h2 class="announceheader">{{ announcement.title }}</h2>
			{% set m, d, y = announcement.date.strftime("%B %d %Y").split() %}
            <p class="date"> {{ '%s %s, %s' % (m, d.lstrip("0"), y) }}</p>
            <br/>
            <p class="content">{{ announcement.body }}</p>
        </div>
    </div>
    {% endfor %}

    <!--Copyright & Navigation Triangles-->
    <p class = "bottom-copyright" id = "bottom"> (c) Copyright 2006 Ateneo Integrated Student Information System. Ateneo de Manila University. All Rights Reserved.</p>
    
   <a href="#top"> 
        <div class="triangle-up"></div>
   </a>     

   <a href="#bottom"> 
        <div class="triangle-down"></div>
    </a>     
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        /* alert("Luh bat mo naclick yan"); */
        this.classList.toggle("active");
        var hiddencontent = this.parentElement.nextElementSibling;
        if (hiddencontent.style.display === "block") {
            hiddencontent.style.display = "none";
        } else {
            hiddencontent.style.display = "block";
        }
      });
    }
</script>
{% endblock %}
