{% extends 'MainHeaderTemplate.html' %}

{% block specific_css %}
<link rel="stylesheet" href="../static/css/ChangePassword.css">
{% endblock %}

{% block body %}
    <!--Studen Update Information Page-->
    <div class="ChangeContainer">
        <!--The Grey Header-->
        <div class = "top-password-header">
            <h1 class="passwdtextheader">Change Password</h1>
            <p class="content">Password must be at least 8 characters long</p>
        </div>

		<form method="post">
	        <div class="PasswordContainer">
	            <div class="fields">
	                <p> Old Password:  </p>
	                <p> New Password:  </p>
	                <p> Confirm New Password:  </p>
	            </div>

	            <div class="fieldinput">
	                <p> <input type="password" name=old_password> </p>
	                <p> <input type="password" name=new_password> </p>
	                <p> <input type="password" name=new_password_repeated> </p>
	            </div>
	        </div>
        

	        <br>
	        <div class="boop">
	            <button type="submit" class="boop">Click to confirm password change</button>
	        </div>
        <form>

        <!--Return Home to Student Home Page Button-->
        <a href="/student_portal" class = "back2portalbutton" >Back to Portal</a>

        <!--The Grey Copyright-->
        <p class = "bottom-copyright" id = "bottom"> (c) Copyright 2006 Ateneo Integrated Student Information System. Ateneo de Manila University. All Rights Reserved.</p>

    </div>
{% endblock %}
