{% extends 'MainHeaderTemplate.html' %}

{% block specific_css %}
<link rel="stylesheet" href="../static/css/Enlistmentstyles.css">
{% endblock %}

{% block body %}
    <!--Will add the Enlistment Table Below-->

    <div class="EnlistmentContainer">
        <!--The Grey Header-->
        <div class = "top-enlistment-header">
            <h1 class="portaltextheader">Enlist in Your Classes!</h1>
            <p class="content">Press "Enlist" to enlist in a section.</p>
        </div>

        <div class = "enlistablediv">
        <!--The Actual Enlistment Table-->
            <table>
                <tr>
                    <th>SUBJECT CODE</th>
                    <th>SECTION</th>
                    <th>COURSE TITLE</th>
                    <th>UNITS</th>
                    <th>SCHEDULE</th>
                    <th>ROOM</th>
                    <th>INSTRUCTOR</th>
                    <th>MAX NO</th>
                    <th>LANG</th>
                    <th>LEVEL</th>
                    <th>FREE SLOTS</th>
                    <th>REMARKS</th>
                    <th>ENLIST</th>
                </tr>
                <div class = "tablecontentsdiv">
                    <!--Henlo Back End peeps, if you want a new row, add one of these lang-->
                    {% for data in section_data %}
                    <form method="post">
                        <tr>
                            <td>{{ data['course_code'] }}</td>
                            <td>{{ data['section_id'] }}</td>
                            <td>{{ data['course_title'] }}</td>
                            <td>{{ data['units'] }}</td>
                            <td>{{ data['time'] }}</td>
                            <td>{{ data['room'] }}</td>
                            <td>{{ data['instructor'] }}</td>
                            <td>{{ data['max_no'] }}</td>
                            <td>{{ data['language'] }}</td>
                            <td>{{ data['level'] }}</td>
                            <td>{{ data['free_slots'] }}</td>
                            <td>{{ data['remarks'] }}</td>
                            <input type="hidden" name=course_code value="{{ data['course_code'] }}" />
                            <input type="hidden" name=section_id value="{{ data['section_id'] }}" />
                            <td><button class = "enlist-button" type=submit formaction="{{ url_for('enlistment') }}">Enlist</button></td>
                        </tr>
                    </form>
                    {% endfor %}
                    <!--row end-->
                    <!--
                    <tr>
                        <td>CSCI 142i</td>
                        <td>A</td>
                        <td>Human Computer Interaction</td>
                        <td>M. Rodrigo</td>
                        <td>-</td>
                        <td><button class = "enlist-button">Enlist</button></td>
                    </tr>
                    <tr>
                        <td>ENE 13.05</td>
                        <td>E</td>
                        <td>Story and Narratives in Science and Engineering</td>
                        <td>S. Jobs</td>
                        <td>-</td>
                        <td><button class = "enlist-button">Enlist</button></td>
                    </tr>
                    <tr>
                        <td>Ryan</td>
                        <td>Andy</td>
                        <td>Put your stuff here XDDD</td>
                        <td></td>
                        <td></td>
                        <td><button class = "enlist-button">Enlist</button></td>
                    </tr>
                    -->
                </div>
            </table>
        </div>

        <!--Return Home to Student Home Page Button-->
        <a href="{{ url_for('enlistment') }}" class = "back2portalbutton" >Back to Enlistment Page</a>

        <!--The Grey Copyright-->
        <p class = "bottom-copyright" id = "bottom"> (c) Copyright 2006 Ateneo Integrated Student Information System. Ateneo de Manila University. All Rights Reserved.</p>
        
        <!--Navigation Triangles-->
        <a href="#top"> 
            <div class="triangle-up"></div>
        </a>     

        <a href="#bottom"> 
            <div class="triangle-down"></div>
        </a>     

    </div>
{% endblock %}