 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frequently Asked Questions - AISIS Remake</title>
    <link rel="stylesheet" href="../static/css/mainstyles.css">
    <link rel="stylesheet" href="../static/css/FAQstyles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    
    <!-- The Thin Grey Line -->
    <nav class = "main-navbar" id = "top">
        <div class = "navflex"> 
            <p id = "p-officialtime"> <b>Official Time</b> | PST March 17, 2021 17:14:28</p>
            <p id = "p-enlistmentstarts"> Online enlistment starts on <b>July 2,2021</b> </p>
            <a href="#" id = "contactus">Contact Us</a>
        </div>
    </nav>

    <!-- Thicc Blue Strip-->
    <header class = "main-header">
        <div class = "headerflex"> 
            <div>
                <img src="../static/images/admulogo.png" id = "admulogo" alt="ateneo's logo">
                <a href="StudentPortalPage.html">
                    <img src="../static/images/aisislogo.png" id = "aisislogo" alt="admu aisis' logo">
                </a>
            </div>
            <div class = "signout">
                <div id = "search"> 
                    <input type="text" id = "searchinput">
                    <a href="#">
                        <img src="../static/images/magglass.png" id="maggy" alt="search button">
                    </a>
                </div>  
                <a href="#" >SIGN OUT</a>
            </div> 
        </div>
    </header>

    <!-- 4 Buttons = Announcements, FAQs, Enlist Updates, Atenean Portal -->
    <header class = "main-selector-bar">
        <div class = "mainselectorflex">
            <a href="announcements" class = "top4buttons" id = "announcebutton">Announcements</a>
            <a href="faq" class = "top4buttons" id = "FAQbutton">Frequently Asked</a>
            <a href="enlistment_updates" class = "top4buttons" id = "enlistupdatesbutton">Enlistment Updates</a>
            <a href="student_portal" class = "top4buttons" id = "studentportalhomebutton">Atenean Portal</a>
        </div>
    </header> 

    <!-- This is where the template ends, below are the specifics per page :) -->
    <!--Will add the FAQ Main Container Below-->

    <div class="FAQContainer">
        
        <!-- Section 1 Getting Started-->
        <h1 class = "FAQHeaders">Getting Started</h1>
        <div class = "FAQButtonsFlex">
            <div class="perFAQflex">
                <button type="button" class="collapsible"></button>
                <h4 class = "FAQQuestions"> Charting a Re-imagined Path: Adaptive Teaching and Learning in the Loyola Schools 2020-2021 </h4>
            </div>
            <div class="hiddencontent">
                <p>We don't know the actual answer to this 😅</p>
            </div>
            
            <div class="perFAQflex">
                <button type="button" class="collapsible"></button>
                <h4 class = "FAQQuestions"> Code of Academic Integrity </h4>
            </div>
            <div class="hiddencontent">
                <p>We don't know the actual answer to this 😅</p>
            </div>

            <div class="perFAQflex">
                <button type="button" class="collapsible"></button>
                <h4 class = "FAQQuestions"> Undergraduate Student Handbook 2018 Edition </h4>
            </div>
            <div class="hiddencontent">
                <p>We don't know the actual answer to this 😅</p>
            </div>

            <div class="perFAQflex">
                <button type="button" class="collapsible"></button>
                <h4 class = "FAQQuestions"> AISIS Online FAQs </h4>
            </div>
            <div class="hiddencontent">
                <p>We don't know the actual answer to this 😅</p>
            </div>
        </div>

        <!-- Section 2 Online Enlistment-->
        <h1 class = "FAQHeaders">Online Enlistment</h1>
        <div class = "FAQButtonsFlex">
            <div class="perFAQflex">
                <button type="button" class="collapsible"></button>
                <h4 class = "FAQQuestions"> How to Enlist Online </h4>
            </div>
            <div class="hiddencontent">
                <p>We don't know the actual answer to this 😅</p>
            </div>
            
            <div class="perFAQflex">
                <button type="button" class="collapsible"></button>
                <h4 class = "FAQQuestions"> Loyola Schools Directory </h4>
            </div>
            <div class="hiddencontent">
                <p>We don't know the actual answer to this 😅</p>
            </div>

            <div class="perFAQflex">
                <button type="button" class="collapsible"></button>
                <h4 class = "FAQQuestions"> RegCom: Procedures, Batching Schedule, & FAQs </h4>
            </div>
            <div class="hiddencontent">
                <p>We don't know the actual answer to this 😅</p>
            </div>

            <div class="perFAQflex">
                <button type="button" class="collapsible"></button>
                <h4 class = "FAQQuestions"> Online Enlistment Guidelines </h4>
            </div>
            <div class="hiddencontent">
                <p>We don't know the actual answer to this 😅</p>
            </div>
        </div>

        <!-- Section 3 Online Assessment-->
        <h1 class = "FAQHeaders">Online Assessment</h1>
        <div class = "FAQButtonsFlex">
            <div class="perFAQflex">
                <button type="button" class="collapsible"></button>
                <h4 class = "FAQQuestions"> Print your Assessment Forms at Home </h4>
            </div>
            <div class="hiddencontent">
                <p>We don't know the actual answer to this 😅</p>
            </div>
        </div>

        <!-- Section 4 Payment-->
        <h1 class = "FAQHeaders">Payment</h1>
        <div class = "FAQButtonsFlex">
            <div class="perFAQflex">
                <button type="button" class="collapsible"></button>
                <h4 class = "FAQQuestions"> Tuition Payment Options for Interssion SY 2020-2021 </h4>
            </div>
            <div class="hiddencontent">
                <p>We don't know the actual answer to this 😅</p>
            </div>
        </div>

        <!-- Section 5 Other Links-->
        <h1 class = "FAQHeaders">Other Links</h1>
        <div class = "FAQButtonsFlex">
            <div class="perFAQflex">
                <button type="button" class="collapsible"></button>
                <h4 class = "FAQQuestions"> Moodle </h4>
            </div>
            <div class="hiddencontent">
                <p>We don't know the actual answer to this 😅</p>
            </div>

            <div class="perFAQflex">
                <button type="button" class="collapsible"></button>
                <h4 class = "FAQQuestions"> Ateneo Website </h4>
            </div>
            <div class="hiddencontent">
                <p>We don't know the actual answer to this 😅</p>
            </div>
        </div>

        <!--Copyright & Navigation Triangles-->
        <p class = "bottom-copyright" id = "bottom"> (c) Copyright 2006 Ateneo Integrated Student Information System. Ateneo de Manila University. All Rights Reserved.</p>
        
       <a href="#top"> 
            <div class="triangle-up"></div>
       </a>     

       <a href="#bottom"> 
            <div class="triangle-down"></div>
        </a>     
    </div>
    
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            /* alert("Luh bat mo naclick yan"); */
            this.classList.toggle("active");
            var hiddencontent = this.parentElement.nextElementSibling;
            if (hiddencontent.style.display === "block") {
                hiddencontent.style.display = "none";
            } else {
                hiddencontent.style.display = "block";
            }
          });
        }
    </script>

</body>
</html>