<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AISIS Remake Template</title>
    <link rel="stylesheet" href="../static/css/mainstyles.css">
    {% block specific_css %}
    {% endblock %}
    <link rel="stylesheet" href="../static/css/Loginstyles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    
    <!-- The Thin Grey Line -->
    <nav class = "main-navbar" id = "top">
        <div class = "navflex"> 
            <p id = "p-officialtime"> <b>Official Time</b> | PST March 17, 2021 17:14:28</p>
            <p id = "p-enlistmentstarts"> Online enlistment starts on <b>July 2,2021</b> </p>
            <a href="#" id = "contactus">Contact Us</a>
        </div>
    </nav>

    <!-- Thicc Blue Strip-->
    <header class = "main-header">
        <div class = "headerflex"> 
            <div>
                <img src="../static/images/admulogo.png" id = "admulogo" alt="ateneo's logo">
                <a href="MainHeaderTemplate.html">
                    <img src="../static/images/aisislogo.png" id = "aisislogo" alt="admu aisis' logo">
                </a>
            </div>
            <div class = "signout">
                <div id = "search"> 
                    <input type="text" id = "searchinput">
                    <a href="#">
                        <img src="../static/images/magglass.png" id="maggy" alt="search button">
                    </a>
                </div>  
                <a href="logout" >SIGN OUT</a>
            </div> 
        </div>
    </header>

    <!-- 4 Buttons = Announcements, FAQs, Enlist Updates, Atenean Portal -->
    <header class = "main-selector-bar">
        <div class = "mainselectorflex">
            <a href="announcements" class = "top4buttons" id = "announcebutton">Announcements</a>
            <a href="faq" class = "top4buttons" id = "FAQbutton">Frequently Asked</a>
            <a href="enlistment_updates" class = "top4buttons" id = "enlistupdatesbutton">Enlistment Updates</a>
            <a href={{ 'student_portal' if 'username' in session else '#'}} class = "top4buttons" id = "studentportalhomebutton">Atenean Portal</a>
        </div>
    </header> 

    <!-- This is where the template ends, below are the specifics per page :) -->

	{% block body %}
	{% endblock %}

{% if 'username' not in session  %}
    <!-- The Modal Login Popup -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <div>
                <img src="../static/images/admulogo.png" id = "admulogologin" alt="ateneo's logo">
                <img src="../static/images/aisislogo.png" id = "aisislogologin" alt="admu aisis' logo">   
            </div>
        </div>

        <form action="login" method="post">
        	<div class="modal-body">
	            <input type="text" placeholder = "Enter your Username" class = "LoginInput" name=username>
	            <h4 class = "LoginTitles"> Username</h4>
	            <input type="password" placeholder = "Enter your Password" class = "LoginInput" name=password>
	            <h4 class = "LoginTitles"> Password</h4>
	            <button type=submit class="LoginModalButtons" id = "LoginButton" >Login</button>
	            
	            <!--Comment these out if there's no error LOL-->
	            <p id = "RedAsterisk">*</p>
	            <p id = "InvalidPassword">* Invalid Password</p>
	            
	            <div class = "forgotinfobody">
	                <p id = "forgotinfotext" >Forgot your Username/Password?</p>
	                <button type="submit" class="LoginModalButtons" id = "RequestResetButton">Request a Reset</button>
	            </div>
	            <!--End of Error Chunk-->
        	</div>
        </form>
    </div>

</div>

<script>
    // thank you W3 Schools
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    var btn = document.getElementById("studentportalhomebutton");
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
        modal.style.display = "none";
        }
    }
   
</script>

{% endif %}

</body>
</html>
