{% extends 'MainHeaderTemplate.html' %}
    
{% block specific_css %}
<link rel="stylesheet" href="../static/css/Enlistmentstyles.css">
{% endblock %}

{% block body %}
    <!--Will add the Enlistment Table Below-->

    <div class="EnlistmentContainer">
        <!--The Grey Header-->
        <div class = "top-enlistment-header">
            <h1 class="portaltextheader">My Currently Enrolled Classes</h1>
            <p class="content">View your current semester subjects' syllabi</p>
        </div>

        <div class = "enlistablediv">
        <!--The Actual Enlistment Table-->
            <table>
                <tr>
                    <th>SUBJECT CODE</th>
                    <th>SECTION</th>
                    <th>COURSE TITLE</th>
                    <th>INSTRUCTOR</th>
                    <th>SCHEDULE</th>
                    <th>BEADLE</th>
                    <th>SYLLABUS</th>
                </tr>
                <!--Henlo Back End peeps, if you want a new row, add one of these lang-->
                <tr>
                    <td>CSCI 142i</td>
                    <td>A</td>
                    <td>Human Computer Interaction</td>
                    <td>J. Agapito</td>
                    <td>MWF 1200-1300</td>
                    <td>Keef Santoes</td>
                    <td><button class = "syllabus-button">CLICK HERE</button></td>
                </tr>
                <!--row end-->
                <tr>
                    <td>CSCI 142i</td>
                    <td>A</td>
                    <td>Human Computer Interaction</td>
                    <td>M. Rodrigo</td>
                    <td>MWF 1300-1400</td>
                    <td>Pedro Gonzales</td>
                    <td><button class = "syllabus-button">CLICK HERE</button></td>
                </tr>
                <tr>
                    <td>ENE 13.05</td>
                    <td>E</td>
                    <td>Story and Narratives in Science and Engineering</td>
                    <td>S. Jobs</td>
                    <td>TTH 0930-1100</td>
                    <td>Krieg</td>
                    <td><button class = "syllabus-button">CLICK HERE</button></td>
                </tr>
                <tr>
                    <td>Ryan</td>
                    <td>Andy</td>
                    <td>Put your stuff here XDDD</td>
                    <td></td>
                    <td></td>
                    <td>Shrek</td>
                    <td><button class = "syllabus-button">CLICK HERE</button></td>
                </tr>
                

                <tr>
                    <td>Ryan</td>
                    <td>Andy</td>
                    <td>Put your stuff here XDDD</td>
                    <td></td>
                    <td></td>
                    <td>Gagam Boy</td>
                    <td><button class = "syllabus-button">Not yet Available</button></td>
                </tr>
                <tr>
                    <td>Ryan</td>
                    <td>Andy</td>
                    <td>Put your stuff here XDDD</td>
                    <td></td>
                    <td></td>
                    <td>Keef Santoes</td>
                    <td><button class = "syllabus-button">Awit Wala Pa</button></td>
                </tr>
                <tr>
                    <td>Ryan</td>
                    <td>Andy</td>
                    <td>Put your stuff here XDDD</td>
                    <td></td>
                    <td></td>
                    <td>Keef Santoes</td>
                    <td><button class = "syllabus-button">CLICK HERE</button></td>
                </tr>
                <tr>
                    <td>Ryan</td>
                    <td>Andy</td>
                    <td>Put your stuff here XDDD</td>
                    <td></td>
                    <td></td>
                    <td>Keef Santoes</td>
                    <td><button class = "syllabus-button">CLICK HERE</button></td>
                </tr>
                <tr>
                    <td>Ryan</td>
                    <td>Andy</td>
                    <td>Put your stuff here XDDD</td>
                    <td></td>
                    <td></td>
                    <td>Keef Santoes</td>
                    <td><button class = "syllabus-button">CLICK HERE</button></td>
                </tr>
                <tr>
                    <td>Ryan</td>
                    <td>Andy</td>
                    <td>Put your stuff here XDDD</td>
                    <td></td>
                    <td></td>
                    <td>Keef Santoes</td>
                    <td><button class = "syllabus-button">CLICK HERE</button></td>
                </tr>
                <!--10th Row is Above-->
                <tr>
                    <td>Ryan</td>
                    <td>Andy</td>
                    <td>Put your stuff here XDDD</td>
                    <td></td>
                    <td></td>
                    <td>Keef Santoes</td>
                    <td><button class = "syllabus-button">CLICK HERE</button></td>
                </tr>
                <tr>
                    <td>Ryan</td>
                    <td>Andy</td>
                    <td>Put your stuff here XDDD</td>
                    <td></td>
                    <td></td>
                    <td>Keef Santoes</td>
                    <td><button class = "syllabus-button">CLICK HERE</button></td>
                </tr>
                <tr>
                    <td>Ryan</td>
                    <td>Andy</td>
                    <td>Put your stuff here XDDD</td>
                    <td></td>
                    <td></td>
                    <td>Keef Santoes</td>
                    <td><button class = "syllabus-button">CLICK HERE</button></td>
                </tr>
                <tr>
                    <td>Ryan</td>
                    <td>Andy</td>
                    <td>Put your stuff here XDDD</td>
                    <td></td>
                    <td></td>
                    <td>Keef Santoes</td>
                    <td><button class = "syllabus-button">CLICK HERE</button></td>
                </tr>
                <tr>
                    <td>Bottom</td>
                    <td>One</td>
                    <td>Put your stuff here XDDD</td>
                    <td></td>
                    <td></td>
                    <td>Keef Santoes</td>
                    <td><button class = "syllabus-button">CLICK HERE</button></td>
                </tr>
            </table>
        </div>

        <!--Return Home to Student Home Page Button-->
        <a href="#" class = "back2portalbutton" >Back to Portal</a>

        <!--The Grey Copyright-->
        <p class = "bottom-copyright" id = "bottom"> (c) Copyright 2006 Ateneo Integrated Student Information System. Ateneo de Manila University. All Rights Reserved.</p>
        
        <!--Navigation Triangles-->
        <a href="#top"> 
            <div class="triangle-up"></div>
        </a>     

        <a href="#bottom"> 
            <div class="triangle-down"></div>
        </a>  
    </div>
</body>
</html>
{% endblock %}
