<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Currently Enrolled Classes - AISIS Remake</title>
    <link rel="stylesheet" href="css/mainstyles.css">
    <link rel="stylesheet" href="css/UpdateStudentInfo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    
    <!-- The Thin Grey Line -->
    <nav class = "main-navbar" id = "top">
        <div class = "navflex"> 
            <p id = "p-officialtime"> <b>Official Time</b> | PST March 17, 2021 17:14:28</p>
            <p id = "p-enlistmentstarts"> Online enlistment starts on <b>July 2,2021</b> </p>
            <a href="#" id = "contactus">Contact Us</a>
        </div>
    </nav>

    <!-- Thicc Blue Strip-->
    <header class = "main-header">
        <div class = "headerflex"> 
            <div>
                <img src="images/admulogo.png" id = "admulogo" alt="ateneo's logo">
                <a href="StudentPortalPage.html">
                    <img src="images/aisislogo.png" id = "aisislogo" alt="admu aisis' logo">
                </a>
            </div>
            <div class = "signout">
                <div id = "search"> 
                    <input type="text" id = "searchinput">
                    <a href="#">
                        <img src="images/magglass.png" id="maggy" alt="search button">
                    </a>
                </div>  
                <a href="#" >SIGN OUT</a>
            </div> 
        </div>
    </header>

    <!-- 4 Buttons = Announcements, FAQs, Enlist Updates, Atenean Portal -->
    <header class = "main-selector-bar">
        <div class = "mainselectorflex">
            <a href="AnnouncementsPage.html" class = "top4buttons" id = "announcebutton">Announcements</a>
            <a href="FAQPage.html" class = "top4buttons" id = "FAQbutton">Frequently Asked</a>
            <a href="EnlistmentUpdatesPage.html" class = "top4buttons" id = "enlistupdatesbutton">Enlistment Updates</a>
            <a href="StudentPortalPage.html" class = "top4buttons" id = "studentportalhomebutton">Atenean Portal</a>
        </div>
    </header> 

    <!-- This is where the template ends, below are the specifics per page :) -->
    <!--Studen Update Information Page-->
    <div class="UpdateContainer">
        <!--The Grey Header-->
        <div class = "top-update-header">
            <h1 class="updatetextheader">Update Student Information</h1>
            <p class="content">Update your contact information and addresses</p>
        </div>
        

        <div class = "UpdateHeaders"> STUDENT'S CONTACT INFORMATION </div>
        <div class = "InfoContainer">
            <div class = "fields">
                <p> Primary Email: </p>
                <p> Secondary Email:</p>
            </div>
            <div class = "fieldinput">
                <p> naruto.uzumaki@obf.areneow.edu</p>
                <p> <input type="text"> </p>
            </div>
            <div class = "fields"> 
                <p> Primary Mobile Number: </p>
            </div>
            <div class = "fieldinput">
                <p> <input type="text"> </p>
            </div>
        </div>

        <div class = "UpdateHeaders"> PARENTS'/GUARDIAN'S PERMANENT MAILING ADDRESS </div>
        <div class = "note"> Note: Changes to Parent's/Guardian's Permanent Mailing Address can only be made through the Office of the Registrar.</div>
        <div class = "InfoContainer">
            <div class = "fields">
                <p> Unit No. and Building: </p>
                <p> Street No.:</p>
                <p>Village/Brgy. Name:</p>
                <p> City: </p>
                <p> Province: </p>
                <p> Contact Person: </p>
                <p> Mobile Number:</p>
            </div>
            <div class = "fieldinput">
                <p> NA </p>
                <p> 420 </p>
                <p> Pepe's Wonderland </p>
                <p> Quezon City </p>
                <p> NCR </p>
                <p> Pepe, Our Lord and Savior</p>
                <p> 090569960420 </p>
            </div>
            <div class = "fields">
                <br>
                <p> Street Name: </p>
                <p> Municipality:</p>
                <p>Zip/Postal Code:</p>
                <p> Country: </p>
                <p> Email: </p>
                <p> Landline:</p>
            </div>
            <div class = "fieldinput">
                <br>
                <p> Deville </p>
                <p> NA </p>
                <p> 1441 </p>
                <p> PHILIPPINES </p>
                <p> pepedaking@gmail.com</p>
                <p> 5318008 </p>
            </div>
        </div>

        <div class = "UpdateHeaders"> CURRENT ADDRESS </div>
        <button type="button" class="boop">Click to copy Parent's/Guardian's permanent mailing address</button>
        <div class = "InfoContainer">
            <div class = "fields">
                <p> Unit No. and Building: </p>
                <p> Street No.:</p>
                <p>Village/Brgy. Name:</p>
                <p> City: </p>
                <p> Province: </p>
                <p> Contact Person: </p>
                <p> Mobile Number:</p>
            </div>
            <div class = "fieldinput">
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> Pepe, Our Lord and Savior</p>
                <p> <input type="text"> </p>
            </div>
            <div class = "fields">
                <br>
                <p> Street Name: </p>
                <p> Municipality:</p>
                <p>Zip/Postal Code:</p>
                <p> Country: </p>
                <p> Email: </p>
                <p> Landline:</p>
            </div>
            <div class = "fieldinput">
                <br>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"></p>
                <p> <input type="text"> </p>
            </div>
        </div>

        <div class = "UpdateHeaders"> WEEKEND ADDRESS </div>
        <button type="button" class="boop">Click to copy Parent's/Guardian's permanent mailing address</button>
        <div class = "InfoContainer">
            <div class = "fields">
                <p> Unit No. and Building: </p>
                <p> Street No.:</p>
                <p>Village/Brgy. Name:</p>
                <p> City: </p>
                <p> Province: </p>
                <p> Contact Person: </p>
                <p> Mobile Number:</p>
            </div>
            <div class = "fieldinput">
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> Pepe, Our Lord and Savior</p>
                <p> <input type="text"> </p>
            </div>
            <div class = "fields">
                <br>
                <p> Street Name: </p>
                <p> Municipality:</p>
                <p>Zip/Postal Code:</p>
                <p> Country: </p>
                <p> Email: </p>
                <p> Landline:</p>
            </div>
            <div class = "fieldinput">
                <br>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"></p>
                <p> <input type="text"> </p>
            </div>
        </div>

        <div class = "UpdateHeaders"> EMERGENCY ADDRESS </div>
        <button type="button" class="boop">Click to copy Parent's/Guardian's permanent mailing address</button>
        <div class = "InfoContainer">
            <div class = "fields">
                <p> Unit No. and Building: </p>
                <p> Street No.:</p>
                <p>Village/Brgy. Name:</p>
                <p> City: </p>
                <p> Province: </p>
                <p> Contact Person: </p>
                <br>
                <p> Mobile Number:</p>
            </div>
            <div class = "fieldinput">
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <br>
                <p> <input type="text"> </p>
            </div>
            <div class = "fields">
                <br>
                <p> Street Name: </p>
                <p> Municipality:</p>
                <p>Zip/Postal Code:</p>
                <p> Country: </p>
                <p> Relationship </p>
                <p> Email: </p>
                <p> Landline:</p>
            </div>
            <div class = "fieldinput">
                <br>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
            </div>
        </div>

        <div class = "UpdateHeaders"> FATHER'S ADDRESS </div>
        <button type="button" class="boop">Click to copy Parent's/Guardian's permanent mailing address</button>
        <div class = "InfoContainer">
            <div class = "fields">
                <p> Unit No. and Building: </p>
                <p> Street No.:</p>
                <p>Village/Brgy. Name:</p>
                <p> City: </p>
                <p> Province: </p>
                <p> Contact Person: </p>
                <p> Mobile Number:</p>
            </div>
            <div class = "fieldinput">
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> Dafader Hokage </p>
                <p> <input type="text"> </p>
            </div>
            <div class = "fields">
                <br>
                <p> Street Name: </p>
                <p> Municipality:</p>
                <p>Zip/Postal Code:</p>
                <p> Country: </p>
                <p> Email: </p>
                <p> Landline:</p>
            </div>
            <div class = "fieldinput">
                <br>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"></p>
                <p> <input type="text"> </p>
            </div>
        </div>

        <div class = "UpdateHeaders"> MOTHER'S ADDRESS </div>
        <button type="button" class="boop">Click to copy Parent's/Guardian's permanent mailing address</button>
        <div class = "InfoContainer">
            <div class = "fields">
                <p> Unit No. and Building: </p>
                <p> Street No.:</p>
                <p>Village/Brgy. Name:</p>
                <p> City: </p>
                <p> Province: </p>
                <p> Contact Person: </p>
                <p> Mobile Number:</p>
            </div>
            <div class = "fieldinput">
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> Damawder Hokage </p>
                <p> <input type="text"> </p>
            </div>
            <div class = "fields">
                <br>
                <p> Street Name: </p>
                <p> Municipality:</p>
                <p>Zip/Postal Code:</p>
                <p> Country: </p>
                <p> Email: </p>
                <p> Landline:</p>
            </div>
            <div class = "fieldinput">
                <br>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"> </p>
                <p> <input type="text"></p>
                <p> <input type="text"> </p>
            </div>
        </div>

        <div class="boop"> 
            <br> <button type="button" class="boop">Confirm Student Information</button>
        </div>

        
        <!--Return Home to Student Home Page Button-->
        <a href="#" class = "back2portalbutton" >Back to Portal</a>

        <!--The Grey Copyright-->
        <p class = "bottom-copyright" id = "bottom"> (c) Copyright 2006 Ateneo Integrated Student Information System. Ateneo de Manila University. All Rights Reserved.</p>
        
        <!--Navigation Triangles-->
        <a href="#top"> 
            <div class="triangle-up"></div>
        </a>     

        <a href="#bottom"> 
            <div class="triangle-down"></div>
        </a>  
    </div>
</body>
</html>